Checks: >
    -*,
    readability-*,
    bugprone-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    preformance-*' 

WarningsAsErrors: "*"

HeaderFilterRegex: "*jonson/inc/*.h"

CheckOptions:    
  readability-identifier-length.MinimumParameterNameLength: '2'
  readability-identifier-length.MinimumVariableNameLength: '2'
